.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 83px);
  background-color: #6ca126;
}

@media screen and (max-width: 640px) {
  .home {
    height: calc(100vh - 59px);
  }
}